<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!authService.isLoggedIn()">
    <button
      mat-raised-button
      color="accent"
      (click)="login()"
      [routerLink]="['/', 'login']"
    >
      Belépés
    </button>
    <button mat-raised-button [routerLink]="['/', 'register']">
      Regisztráció
    </button>
  </ng-container>
  <ng-container *ngIf="authService.isLoggedIn()">
    <button mat-raised-button (click)="logout()">Kijelentkezés</button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
