html,
body {
  height: 100%;
  background-color: #ddaaff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pull-center {
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  margin-left: auto;
  margin-right: 0;
}
